nav {
    width: 100%;
    height: 100px;
    background: linear-gradient(90.22deg, #127efe 0%, #b265ff 100%);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 25px 25px;
    transition: 0.5s all;
}

.top-elements {
    padding: 25px 0;
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    transition: 0.5s all;
}

.medio {
    width: 100%;
}

.top-elements li {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.titulo {
    position: absolute;
    width: 100%;
    height: 50px;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s all;
}

.bottom-elements {
    padding-top: 40px;
}

.bottom-elements li:first-child {
    align-items: center;
    width: 90%;
    margin: 0 5% 0 5%;
}

.bottom-elements li:last-child {
    display: inline-flex;
    width: 60%;
    margin: 15px 5% 15px 5%;
}

.entrada {
    width: 100%;
    height: 150px;
    border: 0px;
    outline: none;
    background: linear-gradient(117.03deg, #00a3ff 0%, rgba(85, 255, 204, 0.574928) 100%);
    box-shadow: inset -5px -5px 5px rgba(0, 0, 0, 0.25), inset 5px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    color: white;
    transition: 0.5s all;
    resize: none;
}

.entrada::placeholder {
    text-align: center;
    color: white;
}

.encriptar {
    background: #5d77ff;
    color: white;
    width: 20%;
    margin-right: 10px;
    transition: 0.5s all;
}

.desencriptar {
    background: #e386f2;
    color: white;
    width: 20%;
    margin-left: 10px;
    transition: 0.5s all;
}

.aviso {
    width: 60%;
    height: 10px;
    font-family: "Jost", sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 5% 0 5%;
    transition: 0.5s all;
}

.salida {
    width: 100%;
    height: 150px;
    background: linear-gradient(155.18deg, #3cfbc2 0%, rgba(122, 246, 112, 0.5) 100%);
    box-shadow: inset -5px -5px 5px rgba(0, 0, 0, 0.25), inset 5px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    color: white;
    transition: 0.5s all;
    resize: none;
    display: none;
}

.unactivated {
    width: 90%;
    margin: -30px 5% 0 5%;
}

.img-1 {
    padding: 0 30% 0 30%;
    width: 40%;
    transition: 0s all;
}

.click-elements {
    padding-top: 20px;
}

.click-elements li {
    display: inline-block;
    align-items: center;
}

.click-elements li:first-child {
    display: inline-flex;
    width: 90%;
    margin: 0 5% 0 5%;
}

.click-elements li:last-child {
    width: 30%;
    margin: 15px 5% 15px 5%;
}

.copiar {
    background: #c5b1fe;
    color: white;
    width: 100%;
    transition: 0.5s all;
}

button {
    height: 60px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.25), inset -5px -5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    display: flex;
    align-items: center;
    text-align: center;
    border: none;
    cursor: pointer;
    padding-inline: 25%;
    justify-content: center;
}

footer {
    width: 100%;
    height: 50px;
    background: linear-gradient(90.22deg, #127efe 0%, #b265ff 100%);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 25px 25px 0px 0px;
    transition: 0.5s all;
}

.footer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 50px;
}

.footer li {
    height: 100%;
}

.nombre {
    width: 80%;
}

.logo {
    width: 10%;
}

.made-by {
    width: 100%;
    height: 30px;
    padding-top: 10px;
    padding-left: 5%;
    font-family: "Jost", sans-serif;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: left;
    transition: 0.5s all;
    color: white;
}

.logo-linkedin {
    padding-top: 10px;
    height: 30px;
}

.logo-github {
    padding-top: 10px;
    height: 30px;
}

@media screen and (max-width: 768px) {
    nav {
        height: 50px;
        transition: 0.5s all;
    }
    .top-elements {
        padding: 10px 0;
        height: 30px;
        transition: 0.5s all;
    }
    .titulo {
        font-size: 25px;
        height: 30px;
        transition: 0.5s all;
    }
    .encriptar,
    .desencriptar,
    .copiar {
        font-size: 18px;
        transition: 0.5s all;
    }
    .entrada,
    .salida {
        font-size: 25px;
        transition: 0.5s all;
    }
    .aviso {
        font-size: 11px;
        transition: 0.5s all;
    }
    .made-by {
        font-size: 17px;
    }
}
