nav {
    width: 100%;
    height: 100px;
    background: linear-gradient(90.22deg, #127efe 0%, #b265ff 100%);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 25px 25px;
}

.top-elements {
    display: flex;
    width: 100%;
}
.top-elements li {
    width: 30%;
}

.logo-alura {
    position: absolute;
    width: 31.5px;
    height: 48px;
    left: 50px;
    top: 25px;
}

.titulo {
    position: absolute;
    width: 45%;
    height: 100px;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-github {
    position: absolute;
    width: 69px;
    height: 69px;
    right: 50px;
    top: 15px;
}

.bottom-elements {
    padding-top: 50px;
}

.bottom-elements li {
    display: inline-block;
    align-items: center;
}

.bottom-elements li:first-child {
    width: 60%;
    margin: 0 2% 0 3%;
}

.bottom-elements li:last-child {
    width: 30%;
    margin: 0 3% 0 0;
}

.entrada {
    width: 100%;
    height: 350px;
    border: 0px;
    outline: none;
    background: linear-gradient(117.03deg, #00a3ff 0%, rgba(85, 255, 204, 0.574928) 100%);
    box-shadow: inset -5px -5px 5px rgba(0, 0, 0, 0.25), inset 5px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    color: white;
}

.entrada::placeholder {
    text-align: center;
    color: white;
}

.salida {
    width: 100%;
    height: 350px;
    background: linear-gradient(155.18deg, #3cfbc2 0%, rgba(122, 246, 112, 0.5) 100%);
    box-shadow: inset -5px -5px 5px rgba(0, 0, 0, 0.25), inset 5px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    color: white;
}

.click-elements {
    padding-top: 40px;
}

.click-elements li {
    display: inline-block;
    align-items: center;
}

.click-elements li:first-child {
    display: inline-flex;
    width: 54%;
    margin-left: 6%;
    margin-right: 5%;
}

.click-elements li:last-child {
    width: 20%;
    margin-left: 6%;
    margin-right: 6%;
}

.encriptar {
    background: #5d77ff;
    color: white;
    width: 20%;
    margin-right: 10px;
}

.desencriptar {
    background: #e386f2;
    color: white;
    width: 20%;
    margin-left: 10px;
}

.copiar {
    background: #c5b1fe;
    color: white;
    width: 100%;
}

button {
    height: 60px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.25), inset -5px -5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    display: flex;
    align-items: center;
    text-align: center;
    border: none;
    cursor: pointer;
    padding-inline: 25%;
    justify-content: center;
}
