* {
    margin: 0;
    color: white;
    font-family: "Inter", sans-serif;
}

html {
    min-height: 100vh;
}

body {
    background: linear-gradient(180deg, rgb(1, 9, 60) 0%, rgb(89, 45, 210) 100%) no-repeat;
}

header {
    margin: 2rem 0;
}

h1 {
    font-size: 2.5rem;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    transition: 0.7s all;
    max-width: 400px;
    margin: 0 auto;
}

h1:hover {
    transform: scale(1.15);
}

.container {
    display: flex;
    margin-top: 15px;
    justify-content: center;
}

.flex-item {
    display: block;
    margin: 0 2%;
    width: 40%;
}

textarea {
    width: calc(100% - 54px);
    height: 300px;
    padding: 2rem 1.5rem;
    text-transform: lowercase;
    text-align: center;
    font-size: 1.5rem;
    transition: 0.5s all;
    border-radius: 25px;
    border: 3px solid #ffffff00;
    background-color: #ffffff00;
    box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.4) inset;
    outline: none;
    resize: none;
}

textarea:hover {
    border: 3px solid #592dd1;
}

.aviso {
    padding: 0.5rem 0 0 2rem;
    position: absolute;
    font-size: 0.75rem;
    color: #acacac;
    transition: 0.3s all;
}

#second {
    background-image: url("/img/time.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 5px;
}

button {
    width: 130px;
    border-radius: 15px;
    border: 3px solid #592dd1;
    background: #ffffff00;
    font-size: 1rem;
    padding: 0.5rem 0;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.5s all;
}

button:hover {
    border: 3px solid #fff;
}

.about {
    display: flex;
    margin: 3rem 0 1rem 0;
    justify-content: center;
}

.about div {
    padding-left: 2rem;
}

.myname {
    padding: 0.5rem;
    font-size: 2rem;
    font-weight: 300;
    transition: 0.7s all;
}

.myname:hover {
    transform: scale(1.05);
}

.pictures {
    display: flex;
    max-width: 100%;
    max-height: 100%;
    gap: 2rem;
    justify-content: flex-end;
}

.pictures a img {
    height: 2rem;
    border-radius: 50%;
    padding: 0.5rem;
    border: 3px solid #ffffff00;
    transition: 0.5s all;
}

.pictures a img:hover {
    border: 3px solid #fff;
}

@media screen and (max-width: 767px) {
    h1 {
        font-size: 2rem;
    }
    .container {
        display: inline;
    }
    .flex-item {
        margin: 3% auto;
        width: 80%;
    }
    textarea {
        width: calc(100% - 54px);
        height: 150px;
    }
    .buttons {
        gap: 0;
    }
    #btn1 {
        margin-right: 1rem;
    }
    #btn2 {
        margin-left: 1rem;
    }
    #btn3 {
        border: 3px solid #021069;
        transition: 0.5s all;
    }
    #btn3:hover {
        border: 3px solid #fff;
    }
    .myname {
        font-weight: 200;
        font-size: 1.25rem;
        padding: 1rem;
    }
    .pictures {
        gap: 0.5rem;
    }
}
